* {
    margin : 0;
    padding : 0 ;
    box-sizing : border-box;
    text-decoration: transparent;
    background: transparent;
    font-family: Blender Pro Book;
}

body {
    background: #000000;
    color: azure;
    overflow: hidden;
    overflow-y: scroll;
}