@font-face {
    font-family: 'Blender Pro Book';
    src: local('Blender Pro Book'), local('Blender-Pro-Book'),
        url('../../fonts/BlenderPro-Book.woff2') format('woff2'),
        url('../../fonts/BlenderPro-Book.woff') format('woff'),
        url('../../fonts/BlenderPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.footer{
    font-family: Blender Pro Book;
    width: 100vw;
    height: 8rem;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    padding-top: 10px;

}

.wrapper{
    flex-grow: 1,
}